*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.fondo{
    min-height: 100vh;
}
.fondo_menu{
    background-color: #d61111;
}
.boton{
    color: white;
    border: 1px solid white;
    margin-left: 15px;
    text-decoration: none;
    padding: 6px 8px;
    border-radius: 8px;
    transition: .2s;
}
.boton:hover{
    border: 1px solid gray;
    color: gray;
}
.fondo-login{
    background-color: rgba(0, 0, 0, 0.938);
    min-height: 100vh;
    padding-top: 50px;
}
.login{
    color: white;
    margin: auto;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 6px;
    background-color: rgb(51, 47, 47);
}
.icon, .titulo{
    text-align:center ;
    color: white;
}
.titulo{
    margin-bottom: 12px;
}
.icon .dumbbell-icon{
    font-size: 50px;
    margin-bottom: 10px;
    color: white;
}
.box-eye{
    position: relative;
}
.box-eye button{
    border: none;
    position: absolute;
}
.changePassword{
    position: absolute;
    top: 12px;
    left: 415px;
    color: rgb(51, 47, 47);
    cursor: pointer;
}
.mi-imagen{
    width: 120px;
    height: 100px;
}
.productos {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.producto {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 30%;
}

.producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.producto h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.producto p {
    font-size: 1em;
    color: #555;
}

.boton-comprar {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.boton-comprar:hover {
    background-color: #0056b3;
}
